# Dependencies
node_modules/

# Python
ml/venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environment files
.env
client/.env
server/.env

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

node_modules
.env
secrets/